.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}
.test{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}
.search{
    width: 30%;
    border-radius: 50px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 1px 1px 10px 1px gray;
    height: 50px;
    margin: 50px;
}
