.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}
.add-btn {
    width: 35%;
    font-weight: bold;
    color: var(--tg-theme-button-text-color);
}
.add-btn {
    margin-top: 10px;
    display: inline-block;
    border: none;
    background: #f9a653;
    border-radius: 10px;
    color: var(--tg-theme-button-text-color);
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}
