.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 170px;
    background: lightgray;
}


.price{
    text-align: center;
    color: white;
}

.name{
    font-size: 14px;
}

.img {
    width: 70%;
    background: lightgray;
    height: 120px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.nmb{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
    font-weight: bold;
    color: white;
}

